%h1 Users with secrets

%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th Name
      %th Email
      %th Signed up
  %tbody
    -@users.each do |user|
      %tr{:'data-user-id' => user.id, :'data-secret-id' => user.secret.id }
        %td=user.name
        %td=user.email
        %td=user.created_at
        
