%h1 Sign Up

=form_for @user, html: { class: 'auth' } do |f|
  -if @user.errors.any?
    .error_messages.alert.alert-danger
      %p Errors:
      %ul
        -for message in @user.errors.full_messages
          %li=message
  .form-group
    =f.label :email
    =f.text_field :email, class: 'form-control'

  .form-group
    =f.label :password
    =f.password_field :password, class: 'form-control'

  .form-group
    =f.label :password_confirmation
    =f.password_field :password_confirmation, class: 'form-control'

  =f.submit class: 'btn btn-primary'
