-if current_user.email == 'j.osterman@watchmen.net'
  %pre.secret=secret

%h1 Tasks

=form_for @task, html: {class: 'form-inline'} do |f|
  =f.text_field :description, placeholder: 'pick up the laundry', class: 'form-control'
  =f.submit 'Add task', class: 'btn btn-primary'

-unless @tasks.empty?
  %ul.tasks
    -@tasks.each do |t|
      %li=render 'task', task: t

